{% extends 'dashboard/base.html' %}
{% load static %}
{% load customtag %}
{% block title %}{{ title }} - {{ seo_settings.meta_title }}{% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'adminHome' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'adminTeamElementList' %}">Team Members</a></li>
                <li class="breadcrumb-item" aria-current="Edit Team Member">Edit Team Member</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">Edit Team Member</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}   
            {% if form.errors %}
            <div class="alert alert-danger">
               <strong>Error:</strong>
               <ul>
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  <li>{{ field }}: {{ error }}</li>
                  {% endfor %}
                  {% endfor %}
               </ul>
            </div>
            {% endif %}                   
            <div class="row mb-3">
               <div class="col-md-12">
                  <div class="card">
                     <div class="card-body">
                        {% if team.image %}
                        <img class="mb-2" style="border-radius:5px;" src="{{ team.image.url }}" width="100" alt="Current Image">
                        {% endif %}
                        <br>
                        <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
                        {{ form.image }}
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mb-3">
               <div class="col-md-6">
                  <div class="card">
                     <div class="card-body">
                        <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
                        {{ form.name }}
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="card">
                     <div class="card-body">
                        <label for="{{ form.position.id_for_label }}" class="form-label">Position</label>
                        {{ form.position }}
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mb-3">
               <div class="col-md-3">
                  <div class="card">
                     <div class="card-body">
                        <label for="{{ form.facebook.id_for_label }}" class="form-label"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</label>
                        {{ form.facebook }}
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                   <div class="card">
                      <div class="card-body">
                         <label for="{{ form.instagram.id_for_label }}" class="form-label"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</label>
                         {{ form.instagram }}
                      </div>
                   </div>
                </div>
                <div class="col-md-3">
                   <div class="card">
                      <div class="card-body">
                         <label for="{{ form.linkedin.id_for_label }}" class="form-label"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</label>
                         {{ form.linkedin }}
                      </div>
                   </div>
                </div>
                <div class="col-md-3">
                   <div class="card">
                      <div class="card-body">
                         <label for="{{ form.whatsapp.id_for_label }}" class="form-label"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</label>
                         {{ form.whatsapp }}
                      </div>
                   </div>
                </div>
            </div>
            <button class="btn btn-primary mb-3" type="submit">Update</button>
         </form>
      </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock %}