{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}{{ title }} - {{ seo_settings.meta_title }}{% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../dashboard/index.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0)">Pages</a></li>
                            <li class="breadcrumb-item" aria-current="page">About Page</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h2 class="mb-0">About Page</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->


        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    <ul>
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if SeoForm.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    <ul>
                        {% for field, errors in SeoForm.errors.items %}
                        {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">SEO</h6>
                                <div class="row">
                                    <div class="col-12">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 mb-2">
                                                    <label for="{{ SeoForm.meta_title.id_for_label }}">Meta
                                                        Title</label>
                                                    {{ SeoForm.meta_title }}
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label for="{{ SeoForm.meta_description.id_for_label }}">Meta
                                                        Description</label>
                                                    {{ SeoForm.meta_description }}
                                                </div>
                                            </div>
                                            <!-- Ensure proper indentation for the closing </form> tag -->
                                            <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">First Section</h6>
                                <div class="row">
                                    <div class="col-12">
                                        <form method="post" enctype="multipart/form-data">
                                            {{form.media}}
                                            {% csrf_token %}
                                            <div class="row mb-2">
                                                <div class="col-md-4 col-sm-12 mb-2">
                                                    <label for="{{ form.image1.id_for_label }}">Image 01</label>
                                                    <br>
                                                    {{ form.image1 }}
                                                </div>
                                                <div class="col-md-4 col-sm-12 mb-2">
                                                    <label for="{{ form.image2.id_for_label }}">Image 02</label><br>
                                                    {{ form.image2 }}
                                                </div>
                                                <div class="col-md-4 col-sm-12 mb-2">
                                                    <label for="{{ form.image3.id_for_label }}">Image 03</label><br>
                                                    {{ form.image3 }}
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-md-4 col-sm-12 mb-2">
                                                    <label for="{{ form.subtitle.id_for_label }}">Sub Title</label>
                                                    {{ form.subtitle }}
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <label for="{{ form.title.id_for_label }}">Title</label>
                                                    {{ form.title }}
                                                </div>
                                                <div class="col-md-4 col-sm-12 mb-2">
                                                    <label for="{{ form.years_of_experience.id_for_label }}">Years of
                                                        experience</label>
                                                    {{ form.years_of_experience }}
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-md-4 col-sm-12 mb-2">
                                                    <label for="{{ form.feature1.id_for_label }}">Feature 01</label>
                                                    {{ form.feature1 }}
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <label for="{{ form.feature2.id_for_label }}">Feature 02</label>
                                                    {{ form.feature2 }}
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <label for="{{ form.feature3.id_for_label }}">Feature 03</label>
                                                    {{ form.feature3 }}
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-md-12 col-sm-12 mb-2">
                                                    <label for="{{ form.long_description.id_for_label }}">Description
                                                    </label>
                                                    {{ form.description }}
                                                </div>
                                            </div>
                                            <!-- Ensure proper indentation for the closing </form> tag -->
                                            <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">About Us Section</h6>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'AdminHomePage' %}" class="btn btn-primary"
                                        style='margin-right:5px;'><i class="fa fa-pencil"></i> Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">Fun Fact Section</h6>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="funfact_section_title">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="{{ funfact_section_title_form.title_small.id_for_label }}"
                                                class="form-label">Section Title 1</label>
                                            {{ funfact_section_title_form.title_small }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="{{ funfact_section_title_form.title_big.id_for_label }}"
                                                class="form-label">Section Title 2</label>
                                            {{ funfact_section_title_form.title_big }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                </form>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'adminFunFactElementList' %}" class="btn btn-primary"
                                        style='margin-right:5px;'><i class="fa fa-eye"></i> View</a>
                                    <a href="{% url 'adminFunFactElementCreate' %}" class="btn btn-primary"><i
                                            class="fa fa-plus"></i> Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">Testimonial Section</h6>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="testimonial_section_title">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="{{ testimonial_section_title_form.title_small.id_for_label }}"
                                                class="form-label">Section Title 1</label>
                                            {{ testimonial_section_title_form.title_small }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="{{ testimonial_section_title_form.title_big.id_for_label }}"
                                                class="form-label">Section Title 2</label>
                                            {{ testimonial_section_title_form.title_big }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                </form>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'adminTestimonialsElementList' %}" class="btn btn-primary"
                                        style='margin-right:5px;'><i class="fa fa-eye"></i> View</a>
                                    <a href="{% url 'adminTestimonialsElementCreate' %}" class="btn btn-primary"><i
                                            class="fa fa-plus"></i> Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">Team Section</h6>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="team_section_title">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="{{ team_section_title_form.title_small.id_for_label }}"
                                                class="form-label">Section Title 1</label>
                                            {{ team_section_title_form.title_small }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="{{ team_section_title_form.title_big.id_for_label }}"
                                                class="form-label">Section Title 2</label>
                                            {{ team_section_title_form.title_big }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                </form>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'adminTeamElementList' %}" class="btn btn-primary"
                                        style='margin-right:5px;'><i class="fa fa-eye"></i> View</a>
                                    <a href="{% url 'adminTeamElementCreate' %}" class="btn btn-primary"><i
                                            class="fa fa-plus"></i> Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">Blog Section</h6>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="blog_section_title">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="{{ blog_section_title_form.title_small.id_for_label }}"
                                                class="form-label">Section Title 1</label>
                                            {{ blog_section_title_form.title_small }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="{{ blog_section_title_form.title_big.id_for_label }}"
                                                class="form-label">Section Title 2</label>
                                            {{ blog_section_title_form.title_big }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                </form>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'adminBlogList' %}" class="btn btn-primary"
                                        style='margin-right:5px;'><i class="fa fa-eye"></i> View</a>
                                    <a href="{% url 'adminBlogCreate' %}" class="btn btn-primary"><i
                                            class="fa fa-plus"></i> Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}