{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}{{ title }} - {{ seo_settings.meta_title }}{% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="../dashboard/index.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Pages</a></li>
                <li class="breadcrumb-item" aria-current="page">Privacy Policy Page</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">Privacy Policy Page</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    <ul>
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}  
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}  

            <div class="row mb-1">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-3">Privacy Policy Section</h6>
                            <div class="row">
                                <div class="col-12">
                                    <form method="post">
                                        {{form.media}}   
                                        {% csrf_token %}  
                                        <div class="row mb-2">
                                            <div class="col-md-12 col-sm-12 mb-2">
                                                <label for="{{ form.image1.id_for_label }}">Policy Texts</label>
                                                <div class="form-control ckf">{{ form.policy_texts }}</div>
                                            </div>
                                        </div>

                                        
                                        <!-- Ensure proper indentation for the closing </form> tag -->
                                        <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock %}