{% extends 'dashboard/base.html' %}
{% load static %}
{% load customtag %}
{% block title %}{{ title }} - {{ seo_settings.meta_title }}{% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'adminHome' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'adminFunFactElementList' %}">Fun Facts</a></li>
                <li class="breadcrumb-item" aria-current="Edit Fun Fact">Edit Fun Fact</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">Edit Fun Fact</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <div class="row">
        <div class="col-sm-12">
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}   
            {% if form.errors %}
            <div class="alert alert-danger">
               <strong>Error:</strong>
               <ul>
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  <li>{{ field }}: {{ error }}</li>
                  {% endfor %}
                  {% endfor %}
               </ul>
            </div>
            {% endif %}    
            <div class="row mb-3">
             <div class="col-md-6">
                <div class="card">
                   <div class="card-body">
                      <label for="{{ form.fontawesome_icon_class.id_for_label }}" class="form-label">Font-Awesome Icon Class ( <a href="https://fontawesome.com/v5/search?m=free" target="_blank">Use V5</a> )</label>
                      {{ form.fontawesome_icon_class }}
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="card">
                   <div class="card-body">
                      <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                      {{ form.title }}
                   </div>
                </div>
             </div>
          </div>      

            <div class="row mb-1">
               <div class="col-md-6">
                  <div class="card">
                     <div class="card-body">
                        <label for="{{ form.count.id_for_label }}" class="form-label">Count</label>
                        {{ form.count }}
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="card">
                     <div class="card-body">
                        <label for="{{ form.count_after.id_for_label }}" class="form-label">Count After</label>
                        {{ form.count_after }}
                     </div>
                  </div>
               </div>
            </div>
            <button class="btn btn-primary mb-3" type="submit">Update</button>
         </form>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}