{% extends 'dashboard/base.html' %}
{% load static %}
{% load customtag %}
{% block title %}{{ title }} - {{ seo_settings.meta_title }}{% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'adminHome' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'adminClientElementList' %}">Clients</a></li>
                <li class="breadcrumb-item" aria-current="Edit Client">Edit Client</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">Edit Client</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <div class="row">
        <div class="col-sm-12">
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}   
            {% if form.errors %}
            <div class="alert alert-danger">
               <strong>Error:</strong>
               <ul>
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  <li>{{ field }}: {{ error }}</li>
                  {% endfor %}
                  {% endfor %}
               </ul>
            </div>
            {% endif %}                   
            <div class="row mb-3">
               <div class="col-md-12">
                  <div class="card">
                     <div class="card-body">
                        {% if client.image %}
                        <img class="mb-2" style="border-radius:5px;" src="{{ client.image.url }}" width="100" alt="Current Image">
                        {% endif %}
                        <br>
                       <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
                       {{ form.image }}
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mb-1">
               <div class="col-md-12">
                  <div class="card">
                     <div class="card-body">
                        <label for="{{ form.client_name.id_for_label }}" class="form-label">Client Name</label>
                        {{ form.client_name }}
                     </div>
                  </div>
               </div>
            </div>
            <button class="btn btn-primary mb-3" type="submit">Update</button>
         </form>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}